html {
  width: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Helvetica Neue";
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  min-width: 715px;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 32px/40px;
  text-align: center;
  color: #eee;
}
h1:hover {
  color: #888;
}
form {
  margin-top: 40px;

}

div
{
  height: 104px;
  line-height: 50px;
}

span
{
  display: inline-block;
  max-width: 650px;
}

ul {
  list-style: none;
  width: 50%;
  margin: 0 auto;
  min-width: 765px;
}

li {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 22px;
  min-width: 700px;
}

label {
  font-size: 75px;
  font-weight: 300;
  vertical-align: top;
  padding-left: 10px;
  display: inline-block;
}

input[type=checkbox]:checked ~ .bigcheckbox .tick {
 visibility: visible;
 position: absolute;
 top: 0;
 left: 0;
 margin-top: -8px;
 margin-left: -15px;
}

img {
  visibility: hidden;
}

button[type=submit] {
  background: url('plus1.png') no-repeat center, #ccc;
  font-size: 22px;
  color: #050505;
  padding: 30px 30px;
  position: absolute;
  visibility: visible;
  height: 91px;
  width: 91px;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  border: 0px solid #000000;

  -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 1px 2px 1px rgba(10,7,10,0);
  -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 1px 2px 1px rgba(10,7,10,0);
  box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 1px 2px 1px rgba(10,7,10,0);

}

.bigcheckbox {
  border: 1px solid #888;
  padding: 1px;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
}

footer {
  color: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  text-align: center;
}
footer:hover {
  color: #888;
}
footer a {
  color: #eef;
}
footer:hover a {
  color: #88f;
}
#item-text {
  border: 1px solid #CCC;
  margin: 0 auto 50px;
  padding: 10px;
  text-align: left;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 16px;
  outline: none;
  height: 70px;
  width: 600px;
  font-size: 70px;
}


a.clear {
  text-decoration: none;
  color: black;
  display: block;
  clear: both;
  margin-bottom: 100px;
}
